main {
    display: grid;
    grid-row: 2;
    grid-column: 1;
    grid-template-columns: 1fr 7fr 1fr;
    gap: 10px;;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

.main_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
    padding: 30px 30px 10px 25px;
}

@media screen and (min-width: 1416px) {
    .main_header {
        width: 1320px;
    }
    
}

.container {
    border-left: #333 solid 1px;
    border-right: #333 solid 1px;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

header small {
    font-size: 1em;
    color: #666;
}

a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
}

.file_type {
    font-size: 1em;
    color: #666;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}   

#darken-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#darken-background.hidden {
    display: none;
}

#lightbox {
    position: relative;
    background: #fff;
    padding: 20px;
    width: 70%;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.lightbox-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.lightbox-close:hover {
    color: #000;
}
